<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ghsvi.jsoccercc">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".PesquisaTimes" />
        <activity android:name=".PesquisaAllPlayers" />
        <activity android:name=".PesquisaSinglePlayer" />
        <activity android:name=".InserirPesquisaTimes" />
        <activity android:name=".InserirPesquisaAllJogadores" />
        <activity android:name=".InserirPesquisaSingleJogador" />
        <activity android:name=".rss.RssActivity" />
        <activity android:name=".rss.RssTimesActivity" />
        <activity android:name=".CreditosActivity"/>
        <activity android:name=".email.EmailActivity" />
        <activity android:name=".HelpActivity" />
    </application>

</manifest>