<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.soccer.ghsvi.jsoccercc">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:hardwareAccelerated="true"
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.soccer.ghsvi.jsoccercc.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.soccer.ghsvi.jsoccercc.PesquisaTimes" />
        <activity android:name="com.soccer.ghsvi.jsoccercc.PesquisaAllPlayers" />
        <activity android:name="com.soccer.ghsvi.jsoccercc.PesquisaSinglePlayer" />
        <activity android:name="com.soccer.ghsvi.jsoccercc.InserirPesquisaTimes" />
        <activity android:name="com.soccer.ghsvi.jsoccercc.InserirPesquisaAllJogadores" />
        <activity android:name="com.soccer.ghsvi.jsoccercc.InserirPesquisaSingleJogador" />
        <activity android:name="com.soccer.ghsvi.jsoccercc.rss.RssActivity" />
        <activity android:name="com.soccer.ghsvi.jsoccercc.rss.RssTimesActivity" />
        <activity android:name="com.soccer.ghsvi.jsoccercc.CreditosActivity"/>
        <activity android:name="com.soccer.ghsvi.jsoccercc.email.EmailActivity" />
        <activity android:name="com.soccer.ghsvi.jsoccercc.HelpActivity" />
    </application>

</manifest>